[user]
  name = Timothy Sullivan

[init]
	defaultBranch = main
[core]
  excludesfile = ~/.gitignore_global
  ignorecase = false
	editor = nvim
	autocrlf = false
	filemode = false
	compression = 0
	symlinks = false

[push]
	default = current
[pull]
	rebase = false
[fetch]
	prune = true
[branch]
  autosetuprebase = always
[commit]
	verbose = true

[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE

[diff]
  tool = difftastic
	noprefix = true
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold

[alias]
  co = checkout
  cob = checkout -b
  lg = log --pretty=format:"%h %ad %s" --date=short

[hub]
  protocol = ssh
